{% extends "base.html" %}
{% load static %} 
{% block content %} 
<link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">


<div class = 'log_box'>
    <!-- 멸치 로고 삽입-->
    <div class = 'logo'> 
        <center><img src="/static/image/big_logo.png"  alt="로그인 로고" /></center>
    </div>


    <div class="login_info">
        <!--로그인에 관련된 내용은 form 안에 들어오게 -->
        <form method="post" >
            {% csrf_token %}
            <input type="hidden" name="next" value="{{next}}">
            
             <!--ID-->
            <div class="id_box">
                <label  for="username" class='im'>I D</label>
                <input class="an_request" type="text" class="form-control" name="username" id="username"
                    value="{{ form.username.value|default_if_none:'' }}" placeholder="ID를 입력하세요."/>
            </div>
            
            <!--PW-->
            <div class ='pw_box'> 
                <label for="password" class ='im'>PW</label>
                <input class="an_request" type="password" class="form-control" name="password" id="password"
                value="{{ form.password.value|default_if_none:'' }}" placeholder="PW를 입력하세요.">
            </div>

            <!--로그인 에러 메세지 노출하기-->
            <div class = "un_border">
                <div class = "an_error_txt un_border">
                    {{ error }}
                </div>
            </div>
           
            <!--로그인 버튼-->
            <div class="btn_box_login un_border" > 
                <button type="submit" class = 'im an_btn'>LOGIN</button>
            </div>
        </form> 

        <!--회원가입 버튼-->
        <div class="btn_box_signup un_border"> 
            <button type="button" class = 'im an_btn' onclick="location.href='/anchovy_common/signup'">SIGNUP</button>
        </div>
    </div>    
        
    
    <div class='find'> <!--아이디비번찾기 중심맞춰넣기-->
        <p class='an_sm_txt l_margin'>아이디 찾기 </p>
        <p class='an_sm_txt r_margin'>비밀번호 찾기 </p>
    </div>

    <!--sns로그인 로고-->
    <div class="sns_list">
        <ul>
            <li><img class="kakao" src="/static/image/kakao.png" width="35vw", alt="카카오톡 로그인" /></li>
            <li><img class="google" src="/static/image/google.png" width="35vw", alt="구글 로그인" /></li>
            <li><img class="naver " src="/static/image/naver.png" width="35vw", alt="네이버 로그인" /></li>
        </ul>
    </div>
</div>

{% endblock %}