{% extends "detail_base.html" %}
{% load static %}

{% block content %}
<!-- css -->
<link rel="stylesheet" type="text/css" href="{% static 'settings.css' %}">

<!-- ****** 본문 ****** -->
<div class="an_container">
  <p class="an_title">
    새로운 닉네임을<br>
    입력해주세요.
  </p>
  <form method="POST">
    {% csrf_token %}
    <input type="text" class="nick_id " placeholder="공백 없이 입력해주세요." name="newnickname" />
    <p class = 'an_error_txt error_box'>{{errMsg.error}}</p>
    <button type="submit" class="full_btn add_btn">변경하기</button>
  </form>
</div>
{% endblock %}


{% block script %}
<script type='text/javascript'>
  // 멸치 로고 노출
  $('#top_menu .logo').css('display', 'block');


  // 연결된 주소 변경
  $('#top_menu .prev a').attr("href", "../settings");
</script>
{% endblock %}