{% extends "detail_base.html" %}
{% load static %}

{% block content %}
<!-- css -->
<link rel="stylesheet" type="text/css" href="{% static 'train_choice.css' %}">

<div class="an_container train_choice">
  <ul>
    <!-- 세트 선택 -->
    <li class="set_ch">
      <p class="tit">세트 선택</p>
      <ul class="btn_list">
        <li><button>3세트</button></li>
        <li><button>4세트</button></li>
        <li><button>5세트</button></li>
      </ul>
    </li>

    <!-- 횟수 선택 -->
    <li class="count_ch">
      <p class="tit">횟수</p>
      <span class="an_sm_txt">* 과도한 운동 횟수는 위험 할 수 있어요!</span>
      <ul class="btn_list">
        <li><button>8회</button></li>
        <li><button>9회</button></li>
        <li><button>10회</button></li>
        <li><button>11회</button></li>
        <li><button>12회</button></li>
        <li><button>13회</button></li>
        <li><button>14회</button></li>
        <li><button>15회</button></li>
      </ul>
    </li>

    <!-- 휴식시간 선택 -->
    <li class="rest_ch">
      <p class="tit">휴식 시간</p>
      <span class="an_sm_txt">* 너무 짧은 휴식은 위험 할 수 있어요!</span>
      <ul class="btn_list">
        <li><button>30초</button></li>
        <li><button>40초</button></li>
        <li><button>50초</button></li>
        <li><button>60초</button></li>
        <li><button>70초</button></li>
        <li><button>80초</button></li>
        <li><button>90초</button></li>
      </ul>
    </li>
  </ul> 
  
</div>


<!-- 버튼 -->

<div class="an_container">
    <button type="button" class="full_btn submit">운동하기</button>
</div> 



<!-- 모두 선택 안한경우 팝업 -->
<div class="popup_box not_all">
  <div class="popup">
    <p class="pop_txt">모든 사항을 선택해주세요</p>
    <button type="button" class="pop_btn">확인</button>
  </div>
</div>

{% endblock %}

{% block script %}
<script type='text/javascript'>
  // 멸치 로고 노출
  $('#top_menu .logo').css('display', 'block');

  // 데이터 지우는 링트로 이동
  $('#top_menu .prev a').attr("href", "../back_kind") 


   // 버튼 클릭
  $(".train_choice ul li ul.btn_list li").click(function(){
    $(this).addClass("select");
    $(this).siblings().removeClass("select");
  });


  

  $(".submit").click(function(){
    var select = $('.train_choice ul li ul.btn_list li.select button').text();
    var kind = '{{train_data.train_kind}}'

    if(select.length==8){
      set=select.substr(0, 1);
      count=select.substr(3, 1);
      rest=select.substr(5, 2);
    }else{
        set=select.substr(0, 1);
        count=select.substr(3, 2);
        rest=select.substr(6, 2);
    }
    console.log(set)
    console.log(count)
    console.log(rest)
    $.ajax({
        type: "POST",
        url: "{% url 'make_set' %}",
        data: {"set" : set, 'count':count,'rest':rest},
        dataType:'json',
        success: function (data) {
          console.log('성공들어옴')
          
        },
        error: function (data) { 
          if(select.length >= 8){
            if (kind == 1){
              location.href='train_squat'
            }else if(kind == 2){
              location.href='train_pushup'
            }

          }else{
            $('.not_all').addClass('open');  
            $('body').addClass('pop');  
            $(this).css('z-index', '-1');
          }
        }
    })

    

  });



  // 팝업 닫을 때 
  $(".pop_btn").click(function(){
    $('.popup_box').removeClass('open');
    $('body').removeClass('pop');
  });


</script>
{% endblock %}



