{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- mediapipe install -->
<script src="https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils/camera_utils.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@mediapipe/control_utils/control_utils.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@mediapipe/control_utils_3d/control_utils_3d.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@mediapipe/drawing_utils/drawing_utils.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@mediapipe/pose/pose.js" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="{% static 'test.css' %}">

    <video id="video" style="display:none" autoplay playsinline></video> 
    <div id="canvas_style">
      <h1 class="test"></h1>
      <h2 class="test2"></h2>
      <h4 class="checkstatus"></h4>
      <h4 class="score"></h4>
      <h4 class="success"></h4>
      <canvas class="output_canvas"></canvas> <!--화면 크기 변경 // 화면 크기에 맞게 변경 화면이 줄어든다 (찌글어짐).-->
    </div>
    <div class="landmark-grid-container" style="display:none"></div>


{% endblock %}

{% block script %}
<script type='text/javascript'>

  var dh = window.innerHeight;
  var dw = window.innerWidth;
  const canvasElement = document.getElementsByClassName('output_canvas')[0]; // 비디오 출력을 위한 캔버스
  canvasElement.width = dw;
  canvasElement.height = dh;

</script>
<script type="module">
    const canvasElement = document.getElementsByClassName('output_canvas')[0]; // 비디오 출력을 위한 캔버스
    const canvasCtx = canvasElement.getContext('2d'); // 2d 형태 캔버스 만들기 (그래프를 그려주는 것)
    const landmarkContainer = document.getElementsByClassName('landmark-grid-container')[0]; // 3d 좌표를 만들기 위한 container
    const grid = new LandmarkGrid(landmarkContainer);  // 3d 좌표에서 Value 값 받아오기
    

    /////////////////////////////////
    // 카운트에 한번만 실행할 필요가 있음 ////
    /////////////////////////////////
    
    // 전체 카운트
    let full_count = 0;
    let excellent_count = 0;
    
    // 상태값 체크
    let check_status;// 1: 푸쉬업 앉기 진행 , 2: 푸쉬업 읽어서기 진행
    let check_stand; // 푸쉬업 내려갈 때 올라갈 때 위치값 고정
    let prev = 0;
    let score = 0; // 종합 점수

    // n초 후 측정 시작
    setTimeout(function() {
      check_status = 1;
    }, 10000);

    ////////////////////////////

    // Canvas에 나오는 선 효과 주기
    function onResults(results) {
      
      if (!results.poseLandmarks) {
        grid.updateLandmarks([]);
        return;
      }
    
      //console.log(grid);
      canvasCtx.save();
      canvasCtx.clearRect(0, 0, canvasElement.width, canvasElement.height);
      canvasCtx.drawImage(results.segmentationMask, 0, 0,
                          canvasElement.width, canvasElement.height);

      // Only overwrite existing pixels.
      canvasCtx.globalCompositeOperation = 'source-in';
      canvasCtx.fillStyle = 'transparent'; //transparent 투명 상태로 지정
      canvasCtx.fillRect(0, 0, canvasElement.width, canvasElement.height);
    

      // Only overwrite missing pixels.
      canvasCtx.globalCompositeOperation = 'destination-atop';
      canvasCtx.drawImage(
          results.image, 0, 0, canvasElement.width, canvasElement.height);
    
      canvasCtx.globalCompositeOperation = 'source-over';
      drawConnectors(canvasCtx, results.poseLandmarks, POSE_CONNECTIONS,
                     {color: '#FF0000', lineWidth: 4});
      drawLandmarks(canvasCtx, results.poseLandmarks,
                    {color: '#00FFFF', lineWidth: 2});
      canvasCtx.restore();
    
      // javascript에서 가져온 값을 stream 형태로 지속적으로 받아온다.
      var land = JSON.stringify(results.poseLandmarks);
      let check_object = {'landmark':land, 'check_status': check_status, 'check_stand':check_stand, 'score': score, 'full_count':full_count, 'excellent_count': excellent_count, 'prev': prev}
      $.ajax({
        type: "POST",
        url: "{% url 'push_up' %}",
        data: check_object,
        dataType:'json',
        success: function (data) {

            // 값을 업데이트
            check_stand = data.result.check_stand;
            check_status = data.result.check_status;
            score = data.result.score;
            prev = data.result.prev;
            full_count = data.result.full_count;
            excellent_count = data.result.excellent_count;

            // 테스트 문구 노출
            $(".test").empty();
            $(".test").append(check_stand);
            
            $(".test2").empty();
            $(".test2").append(results.poseLandmarks[0].y);

            $(".checkstatus").empty();
            $(".checkstatus").append(check_status);

            $(".score").empty();
            $(".score").append(full_count + '회 진행');
            console.log("총 횟수 "+ full_count)

            $(".success").empty();
            $(".success").append(excellent_count + '정확히 진행');
            console.log("정확한 횟수 "+ excellent_count)
            

        },
        error: function (data) { //데이터 받아오기 실패 (준비 시간에는 데이터를 넣지 않고 실패 형태로 진행)
          console.log('앵글 연결 실패');
        }
    });
        
    
      grid.updateLandmarks(results.poseWorldLandmarks);
    }
    
    // 모델을 가져온다
    const pose = new Pose({locateFile: (file) => {
        return `https://cdn.jsdelivr.net/npm/@mediapipe/pose/${file}`;
      }});

    // Pose의 옵션 값 설정
    pose.setOptions({
      modelComplexity: 1,
      smoothLandmarks: true,
      enableSegmentation: true,
      smoothSegmentation: true,
      minDetectionConfidence: 0.5,
      minTrackingConfidence: 0.5
    });

    pose.onResults(onResults);
    
    const videoEl = document.getElementById('video');
    // 카메라 실행 코드
    const camera = new Camera(videoEl, {
        onFrame: async () => {
        await pose.send({image: videoEl});
        },
        width: 640,
        height: 360,
    });
    
    camera.start();
</script>
{% endblock %}