/***** reset *****/
*, ::after, ::before {
    box-sizing: border-box;
}

a,address, article,aside,
b,body,center,dd,del,details,
dfn,div,dl,dt,em,footer,form,
h1,h2,h3,h4,h5,h6,header,
html,i,iframe,img,ins,label,
legend,li,main,mark,menu,nav,object,
ol,p,section,span,strong,summary,table,
tbody,td,tfoot,th,thead,tr,tt,u,ul,video{
    margin:0;padding:0;border:0; color: unset;
}

a, a:active {color: unset; text-decoration-line : none;}
input {border-radius: unset;}
button{border:0; background: unset; color: #000;}
article,aside,details,
figcaption,figure,footer,header,
hgroup,main,menu,nav,section{display:block}
menu,ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}


input, textarea, button {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}
