/* 기본글씨 */
.im {font-family: 'IM Fell Great Primer SC';}

/* 페이지 공백설정 */
.log_box {width: 60%; margin:17vw auto 0 auto; } 

/* 로고이미지 */
.logo img {width:30vw}

/* 로그인 시작 - 로고이미지와 사이 벌리기 */
.login_info {margin-top:13vw;}

/* ID,PW 폰트 */
.an_idpw{font-size:4vw; font-weight: 400; color:#555;}

/* input박스 내부 글씨 */
.an_request{font-size:3.5vw; font-weight: 400; border: none;
  width: 79%;
  padding: 2vw;}
input.an_request::placeholder {color: #bcbcbc;}

/* 버튼 내부 글씨(im과 같이 사용) */
.an_btn{font-size:3.5vw; font-weight: 400;}

/* 아이디 비번 박스들 정렬 */
.login_info div{
  border-bottom:1px solid #000; display: flex;
  justify-content: space-between;align-items: center;
}

/* 아이디랑 비번 / 비번이랑 메세지 사이에 간격을 위함 */
.login_info div.id_box {margin-bottom:4vw;}
.login_info div.pw_box {margin-bottom:2vw;}

/* 로그인 버튼 */
.btn_box_login  {display: flex;  justify-content: space-between; margin-top: 10vw;}
.btn_box_login button {
  text-align: center;  
  border-radius:2vw; padding:3vw 23.7vw;   
  background:#000; color:#fff
}

/* 아래 선 없애기 위함 */
.un_border{border-bottom: unset !important ; }

/* 회원가입 버튼 */
.btn_box_signup  {display: flex;  justify-content: space-between; margin-top:3vw;; margin-bottom: 4vw;}
.btn_box_signup button {
  text-align: center;  
  border-radius:2vw; padding:3vw 23vw;   
  background:#000; color:#fff
}

.find{display: flex; justify-content: space-between;}
.l_margin{margin-left: 9vw;}
.r_margin{margin-right: 9vw;}

/* sns 이미지 정렬 */
.sns_list ul {display:flex; justify-content: center; margin-top:7vw;}

/* sns 이미지 사이 간격 */
.sns_list ul li {margin-right:3vw}

/* 마지막 이미지는 오른쪽마진 필요없어서 없애기 */
.sns_list ul li:last-child {margin-right:0}

