/* 알림이 없을때 */
.emty_notice {display:none; text-align: center; margin-top: 55%;}
.emty_notice div p {font-weight:bold}
.emty_notice div img {width:25vw}

/* 알림 */
.notice_box {height: 125vw; overflow: auto; padding-right:0.2vw}
.notice_box .day {margin-top:8vw}
.notice_box .date {font-weight:700;}
.notice_box ul li {
  padding:3.5vw 5vw;
  border:2px solid #000; border-radius: 3vw;
}
.notice_box ul li {
  display: flex; 
  justify-content: space-between; 
  align-items: center;
  margin-top:4vw
}
.notice_box ul li .no_status {font-size:4.2vw; font-weight:500}
.notice_box ul li .no_txt {font-size:3.7vw; font-weight: 300;}
.notice_box ul li .no_time {font-size:3.5vw; font-weight: 300;}