{% extends "base.html" %}
{% load static %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'main.css'%}">

<div class="an_container">
  <!--상단 텍스트 영역-->
  <div class="main_title_area">
    <p class="an_title_400">
      {% if user.is_authenticated %}
      <strong>{{ log_user.nickname }} </strong>님은<br>
      <strong>{{ log_status.protein}} 프로틴</strong>으로 <strong>{{log_dic.name}}</strong>입니다.
      
      {% endif %}
    </p>
    <div class="setting_img_area">
      <a href = '../../anchovy_settings/settings/'><img src="/static/image/setting.png"/ ></a>
    </div>
  </div>

  <div>
    <a href="/anchovy_main/view">
      <ul class="main_record_area">
        <li class="recode"></li>
        <li><img src="/static/image/next.png"/></li> 
      </ul>
    </a>
    </div>

  <!--캐릭터 영역-->
  <div class="main_char_area">
    <div class="main_char">
      
    </div>
    <div class="char_info" onclick="openNav()">
        <img src="/static/image/info.png"/>
    </div>
  </div>
 
  <!--목표점수 영역-->
  <div class="main_status_area">
    <p class="goal_score"></p>
    <div class="progress_area">
      <div class="an_sm_txt user_progress">
        {% if user.is_authenticated %}
        {{log_train.train_accurate_count__sum}} <!-- 정확하게 실행했던 횟수 합계-->
        {% else %}
        0 <!--로그인을 하지 않았을 경우 0 값으로 제공-->
        {% endif %}
      </div>
      <div class="an_sm_txt goal_progress"></div>
    </div>
    <div class="coupon">
      <img src="/static/image/coupon.png"/>
      <span>x {{log_status.coupon}}</span>
    </div>
  </div>
  
  <!--버튼 영역-->
  <div class="btn_box">
    <button class="add_btn" type="button">성장하기</button>
    <button type="button" onclick="location.href='/anchovy_train/'">운동하기</button>
  </div> 

  <!-- 팝업 시작 -->
  <div class="popup_box">
    <div class="add_success popup">
      <p class="pop_txt">사용 가능한 티켓이 없습니다.</p>
      <button type="button" class="pop_btn">확인</button>
    </div>
  </div>
  <!-- 팝업 끝 -->

</div>

<!-- 풀팝업 시작 -->
<div id="myNav" class="overlay">
  <div class="an_container">

    <!--************** -->
    <!--   풀 상단     -->
    <!--************** -->
    <div>
      <ul class="overlay-top">
        <li class="an_title">캐릭터 소개</li>
        <li onclick="closeNav()"><img src="/static/image/close.png"/></li>      
      </ul>
    </div>

    <!--************** -->
    <!--   풀 콘텐츠   -->
    <!--************** -->

    <div class="overlay-content">
      <!--풀 팝업 안내 문구-->
      <div class="overlay-info-word">
        <ul class="an_sm_txt overlay_info">
          <li>
            * 일주일 단위로 캐릭터 기준에 맞는 점수에 도달하면 쿠폰 하나를 얻을 수 있어요.
          </li>
          <li>
            * 쿠폰은 매주 월요일 00시가 되면  업데이트가 되요.
          </li>
          <li>
            * 캐릭터 기준에 맞는 프로틴에 도달하면 캐릭터가 변화해요.
          </li>
          <li>
            * 쿠폰을 이용해 성장하거나 친구 프로틴을 뻇어올수 있어요.
          </li>
        </ul>
      </div>
      <!--풀 팝업 캐릭터 소개-->
      <div class="overlay-char_info">
        <!-- 해골 -->
        <div>
          <div class="char_info_status">
            <div>
              <img src="/static/image/bone.png"/>
            </div>
            <div>
              <p class="an_sm_txt info_b">프로틴 0</p>
              <p class="an_sm_txt info_b">일주일에 3일 운동하기</p>
            </div>
          </div>
          <div class="char_info_word">
            <div class="c_info">
              <p class="an_sm_txt">
                안녕…… 나는 까시야….. <br>
                나는 멸치라도 되면 좋겠어……….<br>
                누가 프로틴 하나만 줘봐……
              </p>
            </div>
          </div>
        </div>
        <!-- 멸치 -->
        <div>
          <div class="char_info_status">
            <div>
              <img src="/static/image/anchovy_1.png"/>
            </div>
            <div>
              <p class="an_sm_txt info_b">프로틴 2</p>
              <p class="an_sm_txt info_b">120점</p>
            </div>
          </div>
          <div class="char_info_word">
            <div class="c_info">
              <p class="an_sm_txt">
                안녕하새오 저는 멸치애오. <br>
                나중에 커서 늠름한 족장이 될거애오. <br>
                열심히 운동하면 멋찌게 변하게쬬?
              </p>
            </div>
          </div>
        </div>
        <!-- 황새치 -->
        <div>
          <div class="char_info_status">
            <div>
              <img src="/static/image/swordfish_1.png"/>
            </div>
            <div>
              <p class="an_sm_txt info_b">프로틴 5</p>
              <p class="an_sm_txt info_b">150점</p>
            </div>
          </div>
          <div class="char_info_word">
            <div class="c_info">
              <p class="an_sm_txt">
                반갑네 황새치라고 하네.. 나로 말을 할 것 같으면 <br>
                영국에서도 가장 엘레강스한 황새치 중 황새치이지. <br>
                그렇게 보이지 않는다고? <br>
                그건 자네가 아직까지 부족하다는 증거이지.. <br>
                자네가 엘레강스 해지면 나를 제대로 볼 수 있을 것일세
              </p>
            </div>
          </div>
        </div>
        <!-- 고등어 -->
        <div>
          <div class="char_info_status">
            <div>
              <img src="/static/image/mackerel_1.png"/>
            </div>
            <div>
              <p class="an_sm_txt info_b">프로틴 12</p>
              <p class="an_sm_txt info_b">180점</p>
            </div>
          </div>
          <div class="char_info_word">
            <div class="c_info">
              <p class="an_sm_txt">
                안녕-! 나는 마법학교 1학년이야 <br>
                내가 마법사가 되어서 너가 몸짱이 되게 해줄게-! <br>
                어때? 끌리지~?
              </p>
            </div>
          </div>
        </div>
        <!-- 상어 -->
        <div>
          <div class="char_info_status">
            <div>
              <img src="/static/image/shark_1.png"/>
            </div>
            <div>
              <p class="an_sm_txt info_b">프로틴 22</p>
              <p class="an_sm_txt info_b">210점</p>
            </div>
          </div>
          <div class="char_info_word">
            <div class="c_info">
              <p class="an_sm_txt">
                용궁에 온 걸 환영하오. 나는 상어 왕이오. <br>
                근육을 키워서 내 옷과 왕관을 찾아올 수 있겠소?
              </p>
            </div>
          </div>
        </div>
      </div> 
    </div>
  </div>
</div>
<!-- 풀팝업 끝 -->

{% include 'navbar.html' %}
{% endblock %}

{% block script %}
  <script type='text/javascript'>
    // 멸치 로고 노출
    //$('#top_menu .logo').css('display', 'block');
    
    // 캘린더 페이지 적용
    //$('#top_menu .re_icon').css('display', 'block');
    
    // 친구 상세페이지 적용
    $('#top_menu .friend_status').css('display', 'block');
    
    // 친구 상세페이지 적용 (친구 추가 및 친구 해제)
    $(".friend_status img").click(function(){
      if($(this).hasClass("clicked")){
        $(this).siblings().addClass("clicked");
        $(this).removeClass("on clicked");
      }else{
        $(this).addClass("clicked");
        $(this).siblings().removeClass("clicked");
      }
    });

     // 성장하기팝업 노출
     $(".add_btn").click(function(){
      $('.popup_box').addClass('open');  
      $('body').addClass('pop');
    });
    $(".pop_btn").click(function(){
      $('.popup_box').removeClass('open');
      $('body').removeClass('pop');
    });

      // 풀팝업 노출
      function openNav() {
        document.getElementById("myNav").style.width = "100%";
      }
      
      function closeNav() {
        document.getElementById("myNav").style.width = "0%";
      }

    // django의 변수 불러오기
    var b = 100;

    var protein = "{{ log_status.protein}}";
    var user = "{{log_user.username}}";
    var lv = "{{log_status.character_lv}}";

    // 화면이 실행 되었을 때 진행
    $(document).ready(function(){

      $.ajax({
        type: "POST",
        url: "{% url 'main_record' %}",
        data: {"user" : user, "lv": lv},
        dataType:'json',
        success: function (data) {
            percent = data.progress_data[0].percent
            recent_date = data.recent_data[0].date
            recent_exercise = data.recent_data[0].exercise
            recent_count = data.recent_data[0].count


            var recode_value = "";
            var goal_value ="";

            recode_value += ""+recent_date+" "+recent_exercise+" "+recent_count+"점 달성";
            goal_value += "목표 점수 : "+data.progress_data[0].goal+""
            
            
            goal_progress(percent);

            $(".recode").empty();
            $(".recode").append(recode_value);

            $(".goal_score").empty();
            $(".goal_score").append(goal_value);

        },
        error: function (data) { //데이터 받아오기 실패

          percent = 0;
          var recode_value = "기록 된 결과값 없어요!";
          var goal_value = "목표 점수 : 0";
          
          goal_progress(percent);

          $(".recode").empty();
          $(".recode").append(recode_value);

          $(".goal_score").empty();
          $(".goal_score").append(goal_value);

        }
    });   
      
      goal_progress();

      change_img(protein);
    });

    // 자동 게이지 진행
    function goal_progress(a){
      if (a == 0){ // 0%일 경우 none
        $('.user_progress').css('display', 'none');
        $('.goal_progress').css('width', '100%');
      }
      else if(a <= 10){ //10% 이하일 경우 고정
        $('.user_progress').css('width', '10%');
        $('.goal_progress').css('width', '90%');
      }
      else if(a >= 100){ // 가득 찼을 경우 전부다 가득 차게 만들기
        $('.user_progress').css('width', a + '%'); 
        $('.goal_progress').css('display', 'none');
      }
      else{ // 차감된 만큼 표시하기
        $('.user_progress').css('width', a + '%'); //정해진 값에 퍼센트로 표시
        $('.goal_progress').css('width', b-a + '%'); //차감된 값으로 표시
      }
    }

    // 불러온 ID 값에 따라서 이미지 변경하기
    function change_img(protein){
      var imgtag = '';

      if (protein == 1){
        // lv 1인 경우 멸치 이미지 추가
        imgtag+= "<img src='/static/image/anchovy_1.png'/>"
      }
      else if (protein >= 2 && protein < 4){
        // lv 2인 경우 황새치 이미지 추가
        imgtag+= "<img src='/static/image/anchovy_2.png'/>"
      }
      else if (protein >= 4 && protein < 5){
        // lv 2인 경우 황새치 이미지 추가
        imgtag+= "<img src='/static/image/anchovy_3.png'/>"
      }
      else if (protein == 5){
        // lv 2인 경우 황새치 이미지 추가
        imgtag+= "<img src='/static/image/swordfish_1.png'/>"
      }
      // ********** 여기서 부터 진행 ****************//
      else if (protein >= 6 && protein < 8){
        // lv 2인 경우 황새치 이미지 추가
        imgtag+= "<img src='/static/image/swordfish_2.png'/>"
      }
      else if (protein >= 8 && protein < 10){
        // lv 2인 경우 황새치 이미지 추가
        imgtag+= "<img src='/static/image/swordfish_3.png'/>"
      }
      else if (protein >= 10 && protein < 12){
        // lv 2인 경우 황새치 이미지 추가
        imgtag+= "<img src='/static/image/swordfish_4.png'/>"
      }
      else if (protein == 12){
        // lv 2인 경우 황새치 이미지 추가
        imgtag+= "<img src='/static/image/mackerel_1.png'/>"
      }
      else if (protein >= 13 && protein < 15){
        // lv 2인 경우 황새치 이미지 추가
        imgtag+= "<img src='/static/image/mackerel_2.png'/>"
      }
      else if (protein >= 15 && protein < 17){
        // lv 2인 경우 황새치 이미지 추가
        imgtag+= "<img src='/static/image/mackerel_3.png'/>"
      }
      else if (protein >= 17 && protein < 19){
        // lv 2인 경우 황새치 이미지 추가
        imgtag+= "<img src='/static/image/mackerel_4.png'/>"
      }
      else if (protein >= 19 && protein <22){
        // lv 3인 경우 고등어 이미지 추가
        imgtag+= "<img src='/static/image/mackerel_5.png'/>"
      }
      else if (protein == 22){
        // lv 4인 경우 상어 이미지 추가
        imgtag+= "<img src='/static/image/shark_1.png'/>"
      }
      else if (protein >= 23 && protein < 25){
        // lv 4인 경우 상어 이미지 추가
        imgtag+= "<img src='/static/image/shark_2.png'/>"
      }
      else if (protein >= 25 && protein < 27){
        // lv 4인 경우 상어 이미지 추가
        imgtag+= "<img src='/static/image/shark_3.png'/>"
      }
      else if (protein >= 27 && protein < 29){
        // lv 4인 경우 상어 이미지 추가
        imgtag+= "<img src='/static/image/shark_4.png'/>"
      }
      else if (protein >= 29 && protein < 31){
        // lv 4인 경우 상어 이미지 추가
        imgtag+= "<img src='/static/image/shark_5.png'/>"
      }
      else if (protein >= 31){
        // lv 4인 경우 상어 이미지 추가
        imgtag+= "<img src='/static/image/shark_6.png'/>"
      }
      else {
        // 나머지의 경우 뼈다귀 이미지 추가
        imgtag+= "<img src='/static/image/bone.png'/>"
      };
      
      $(".main_char").empty();
      $(".main_char").append(imgtag);

    }
  </script>
{% endblock %}
