{% if user.protein == 0%}
    <img src = "/static/image/bone.png" />
{% endif%}
<!--멸치-->
{% if user.protein == 1%}  
    <img src = "/static/image/anchovy_1.png" />
{% endif%}
{% if user.protein == 2 or user.protein == 3%}
    <img src = "/static/image/anchovy_2.png" />
{% endif%}
{% if user.protein == 4%} 
    <img src = "/static/image/anchovy_3.png" />
{% endif%}
<!--황새치-->
{% if user.protein == 5%} 
    <img src = "/static/image/swordfish_1.png" />
{% endif%}
{% if user.protein == 6 or user.protein == 7%}  
    <img src = "/static/image/swordfish_2.png" />
{% endif%}
{% if user.protein == 8 or user.protein == 9 %} 
    <img src = "/static/image/swordfish_3.png" />
{% endif%}
{% if user.protein == 10 or user.protein == 11%} 
    <img src = "/static/image/swordfish_4.png" />
{% endif%}
<!--고등어-->
{% if user.protein == 12%} 
    <img src = "/static/image/mackerel_1.png" />
{% endif%}
{% if user.protein == 13 or user.protein == 14%} 
    <img src = "/static/image/mackerel_2.png" />
{% endif%}
{% if user.protein == 15 or user.protein == 16 %} 
    <img src = "/static/image/mackerel_3.png" />
{% endif%}
{% if user.protein == 17 or user.protein == 18%} 
    <img src = "/static/image/mackerel_4.png" />
{% endif%}
{% if user.protein == 19 or user.protein == 20 or user.protein == 21%} 
    <img src = "/static/image/mackerel_5.png" />
{% endif%}
<!--상어-->
{% if user.protein == 22%} 
    <img src = "/static/image/shark_1.png" />
{% endif%}
{% if user.protein == 23 or user.protein == 24%} 
    <img src = "/static/image/shark_2.png" />
{% endif%}
{% if user.protein == 25 or user.protein == 26 %} 
    <img src = "/static/image/shark_3.png" />
{% endif%}
{% if user.protein == 27 or user.protein == 28%} 
    <img src = "/static/image/shark_4.png" />
{% endif%}
{% if user.protein == 29 or user.protein == 30 %} 
    <img src = "/static/image/shark_5.png" />
{% endif%}
{% if user.protein >= 31 %} 
        <img src = "/static/image/shark_6.png" />
{% endif%}
