{% load static %}
<!doctype html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,
        height=device-height, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes, viewport-fit=cover">
        {% comment %} <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> {% endcomment %}
        <link rel="stylesheet" type="text/css" href="{% static 'reset.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
        
        <!-- 폰트 추가 -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer+SC&display=swap" rel="stylesheet">
        
        <!-- 스와이퍼 -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"/>

        <title>AI 운동</title>
    </head>
<body> 
{% comment %} {% include 'loading.html' %} {% endcomment %}
{% block content %}
{% endblock %}
<script src="{% static 'jquery-3.4.1.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
{% block script %}
{% endblock %}
</body>
</html>