{% load static %}
<!doctype html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="{% static 'reset.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
        
        <!-- 폰트 추가 -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer+SC&display=swap" rel="stylesheet">
        
        <!-- 스와이퍼 -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"/>

        <title>AI 운동</title>
    </head>
  <body>
    <!-- 상단 메뉴 시작 -->
    <ul id="top_menu">
      <li class="prev"><a href="{{request.META.HTTP_REFERER}}"><img src="/static/image/previous.png" alt="이전" /></a></li>
      <li class="top_center">
        <img class="logo" src="/static/image/logo.png" alt="멸치 로고" />
        <img class="re_icon"src="/static/image/record.png" alt="기록 아이콘" />
      </li>
      <li class="friend_status">
        <img class = 'fd_off' src="/static/image/add_user.png" alt="친구 추가 안됨" />
        <img class = 'fd_on' src="/static/image/add_user_on.png" alt="친구 추가 됨" />
      </li>
    </ul>
    <!-- 상단 메뉴 끝 -->
    
    {% block content %}
    {% endblock %}
    <script src="{% static 'jquery-3.4.1.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    {% block script %}
    {% endblock %}
  </body>
</html>