/* 해당 페이지에서만 공통 css 수정 */
#top_menu{margin-bottom:0}
.an_container{margin-top:8vw}

.fd_info_box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.fd_info_box .fd_id {font-size:4.5vw; margin-top: 3vw;}

/* 캐릭터 */
.fd_char {margin:8vw 0 7vw}
/* 프로틴 */
.protein {font-weight: 500;}