.fd_info_box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.fd_info_box .fd_id {font-size:4.5vw; margin-top: 3vw;}

/* 캐릭터 */
.fd_char {margin:15vw 0 8vw}
/* 프로틴 */
.protein {font-weight: 500;}