.train_choice {clear: both; height: 125vw; overflow: auto;}
.train_choice .tit {font-weight:700; margin:4vw 0 }
.train_choice .set_ch .tit {margin-top:0}

.train_choice ul li span {display:block; margin-bottom:3vw; color:#8d8d8d; }

.train_choice ul li ul.btn_list::after {content:""; display:block; clear: both;}
.train_choice ul li ul.btn_list li {
  float: left; margin:0 2vw 3vw 0;
  text-align: center;
  width: 25.9vw;
}
.train_choice ul li ul.btn_list li:nth-child(3n) {margin-right:0}
.train_choice ul li ul.btn_list li button {
  width: inherit;
  border:2px solid #000; 
  border-radius: 3vw; 
  padding:1.8vw 5vw; 
  background: #fff;
}

/* 클릭시 */
.train_choice ul li ul.btn_list li.select button {background:#000; color:#fff}

.tu_btns label, .tu_btns button {height:13vw}
.tu_btns label {
  position: relative;
  width: 48%;
  font-size: 4.2vw;
  padding: 3.7vw 0 4vw;
  background:#000; color:#fff;
  border-radius:2vw;
  font-weight:300;
}
.tu_btns label input{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin:0;
}
.tu_btns button {width:48%; font-size:4.3vw; padding:4vw 6.2vw}

.btn_box li {width:47%}
.btn_box button {width:100%}

/* 비디오 영역 지정*/

 /* 이미지에 캔버스를 겹쳐서 그리기 위함 */
 /* 이미지에 캔버스를 겹쳐서 그리기 위함 */
 #canvas {
  border : solid 10px #f00;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}

.container{
  width:100%;
  height: 100%;
}

.video_area{
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
.guide_msg{
  position:fixed;
  bottom:24vw; 
  z-index:999;
  width:100%;
  text-align:center;
  color:#fff;
}

.camera_title{
  position:fixed;
  z-index:10;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 10vw;
  padding-left: 8vw;
  padding-right: 8vw;
  color:#fff;
  background: linear-gradient(
            to top,
            rgba(20, 20, 20, 0) 10%,
            rgba(20, 20, 20, 0.25) 25%,
            rgba(20, 20, 20, 0.5) 50%,
            rgba(20, 20, 20, 0.75) 75%,
            rgba(20, 20, 20, 1) 100%
          );

  background-size: cover;

}

.ex-ing{
  margin-top:2vw;
}



#test{
  bottom:0;
}