{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- css -->
<link rel="stylesheet" type="text/css" href="{% static 'notice.css' %}">

<!-- 상단 로고 노출 -->
<div id="top_menu">
  <span class="top_center"><img class="logo" src="/static/image/logo.png" alt="멸치 로고" /></span>
</div>

<!-- 알림이 없을때 -->
<div class="emty_notice an_container">
  <div><img src="/static/image/logo.png" /></div>
  <p>아직 소식이 없습니다.</p>
</div>


<!-- 알림 -->
<div class="an_container notice_box">
  {% for i in Notice %}
    <div class="day">
      {% if i.check == 1%}
        <p class="date">{{i.notice_date}}</p>
      {% endif %}
      <ul>
        <li>
          <!-- 하루 지난 것들 -->
          {% if dic.today != i.notice_date%}
            {% if i.notice_status == 1 %}
              <div class="left">
                <p class="no_status">⚠️ 근손실 위험!! </p>
                <span class="no_txt">운동을 안한지 오래 됐어요!</span>
              </div>
            {% endif %}

            {% if i.notice_status == 2 %}
              <div class="left">
                <p class="no_status">⬆️ 프로틴 상승!!  </p>
                <span class="no_txt">{{i.battle_user}}님의 근육을 빼앗았어요!</span>
              </div>
            {% endif %}

            {% if i.notice_status == 3 %}
              <div class="left">
                <p class="no_status">⬇️ 프로틴 하강!!  </p>
                <span class="no_txt">{{i.battle_user}}님이 근육을 뺏어갔어요!</span>
              </div>
            {% endif %}
          {% endif %}<!-- 하루 지난 것들 end -->

          <!-- 당일 데이터 -->
          {% if dic.today == i.notice_date%}
            {% if i.notice_status == 1 %}
              <div class="left">
                <p class="no_status">⚠️ 근손실 위험!! </p>
                <span class="no_txt">운동을 안한지 오래 됐어요!</span>
              </div>
              {% if i.no_time != 0 %}
                <span class="no_time">{{i.no_time}}시간 전</span>
              {% else %}
                <span class="no_time">{{i.no_min}}분 전</span>
              {% endif %}
            {% endif %} <!-- notice_status=1 -->

            {% if i.notice_status == 2 %}
              <div class="left">
                <p class="no_status">⬆️ 프로틴 상승!!  </p>
                <span class="no_txt">{{i.battle_user}}님의 근육을 빼앗았어요!</span>
              </div>
              {% if i.no_time != 0 %}
                <span class="no_time">{{i.no_time}}시간 전</span>
              {% else %}
                <span class="no_time">{{i.no_min}}분 전</span>
              {% endif %}
            {% endif %} <!-- notice_status=2 -->

            {% if i.notice_status == 3 %}
              <div class="left">
                <p class="no_status"> ⬇️ 프로틴 하강!!   </p>
                <span class="no_txt">{{i.battle_user}}님이 근육을 뺏어갔어요!</span>
              </div>
              {% if i.no_time != 0 %}
                <span class="no_time">{{i.no_time}}시간 전</span>
              {% else %}
                <span class="no_time">{{i.no_min}}분 전</span>
              {% endif %}
            {% endif %} <!-- notice_status=3 -->
          {% endif %} <!-- 당일 데이터 end -->
        </li>
    </div>
  {% endfor %}
</div>


{% include 'navbar.html' %}
{% endblock %}


{% block script %}
<script type='text/javascript'>
  // 멸치 로고 노출
  $('#top_menu .logo').css('display', 'block');
</script>
{% endblock %}