{% extends "detail_base.html" %}
{% load static %}

{% block content %}
<!-- css -->
<link rel="stylesheet" type="text/css" href="{% static 'friend_detail.css' %}">


<!-- ****** 본문 ****** -->
<div class="fd_info an_container">
  <div class="fd_info_box">
    <p class="fd_nick an_title">{{ user.nickname }}</p>
    <p class="fd_id">{{ user.username }}</p>

    <div class="fd_char">{% include 'ch_img/ch_img.html' %}</div>

    <p class="protein">{{ user.protein }}프로틴 </p>
  </div>

  {%if target_user.username != user.username%}
    <button type="submit" class="full_btn">공격하기</button>
  {% endif %}
</div>


<!-- 팝업 시작 -->
<!-- 존재 하지 않는 정보 (0) -->
<div class="popup_box success">
  <div class="popup">
    <p class="pop_txt">공격을 성공하였습니다. </p>
    <button type="button" class="pop_btn" onclick="location.href='../../friend_detail/{{user.author_id}}'">확인</button>
  </div>
</div>

<!-- 친구 목록에 있는 경우 (1) -->
<div class="popup_box fail">
  <div class="popup">
    <p class="pop_txt">사용가능한 쿠폰이 없습니다.</p>
    <button type="button" class="pop_btn">확인</button>
  </div>
</div>

<!-- 추가 성공 (2) -->
<div class="popup_box no_protein">
  <div class="popup">
    <p class="pop_txt">상대방이 너무 연약해요...<br> 한번만 봐주세요😢</p>
    <button type="button" class="pop_btn">확인</button>
  </div>
</div>
<!-- 팝업 끝 -->

{% endblock %}


{% block script %}
<script type='text/javascript'>
  // 친구 상세페이지 적용 (기본 아이콘 설정)
  var me = '{{request.user}}'
  var friend = '{{user.username}}'
  var icon = '{{icon}}'
  
  // 기본으로 흰/검 둘다 보이게 
  $('#top_menu .friend_status').css('display', 'block');
  $('#top_menu .friend_status .fd_on').css('display', 'block');
  $('#top_menu .friend_status .fd_off').css('display', 'block');

  // 친구 추가 아이콘(기본 상태)
  if(me != friend){ //내가 아닐 때
      if (icon == 0){ //흰색
        $('#top_menu .friend_status .fd_on').css('display', 'none');
      }else{
        $('#top_menu .friend_status .fd_off').css('display', 'none');
        }
  }else{
    $('#top_menu .friend_status .fd_on').css('display', 'none');
    $('#top_menu .friend_status .fd_off').css('display', 'none');
  }

  // 친구추가아이콘 활성화(친구 추가/삭제 기능)
  $(".friend_status img").click(function(){

    var friend_name = '{{user.username}}'
    $.ajax({
      type: "POST",
      url: "{% url 'btn_add' %}",
      data: {"friend_name" : friend_name},
      dataType:'json',
      success: function (data) {
        console.log(data.icon_status)
        if(data.icon_status == '0' ){ // 친구가 추가 / 흰색 -> 검정
          $('#top_menu .friend_status .fd_on').css('display', 'block');
          $('#top_menu .friend_status .fd_off').css('display', 'none');
        }else{ // 친구가 삭제 / 검정 -> 흰색
          $('#top_menu .friend_status .fd_on').css('display', 'none');
          $('#top_menu .friend_status .fd_off').css('display', 'block');
        }
      },
      error: function (data) { 
        console.log(friend_name)
        console.log('서버 연결 실패')
      }
    });
  

  });

  // 연결된 주소 변경
  $('#top_menu .prev a').attr("href", "../../")
    
  // 친구 상세페이지 적용 (친구 추가 및 친구 해제)
  $(".friend_status img").click(function(){
    if($(this).hasClass("clicked")){
      $(this).siblings().addClass("clicked");
      $(this).removeClass("on clicked");
    }else{
      $(this).addClass("clicked");
      $(this).siblings().removeClass("clicked");
    }
  });


  // 팝업창 띄우기
  $(".full_btn").click(function(){

    // 상태값에 맞는 팝업 띄우기
    var user_id = '{{user.author_id}}'

    $.ajax({
      type: "POST",
      url: "{% url 'new_steal' %}",
      data: {"user_id" : user_id},
      dataType:'json',
      success: function (data) {
        console.log('aksdjalskdjlaksjdlk')
        if(data.check == '1'){
          console.log('1')
          $('.success').addClass('open');  
          $('body').addClass('pop');  
          $(this).css('z-index', '-1');
        }else if(data.check == '2'){
          console.log('2')
          $('.fail').addClass('open');  
          $('body').addClass('pop');  
          $(this).css('z-index', '-1');
        }else if(data.check == '3'){
          console.log('3')
          $('.no_protein').addClass('open');  
          $('body').addClass('pop');  
          $(this).css('z-index', '-1');
        }
      },
      error: function (data) { 
        console.log('서버 연결 실패')
      }
    });
  });

  // 팝업 닫을 때 
  $(".pop_btn").click(function(){
    $('.popup_box').removeClass('open');
    $('body').removeClass('pop');
  });

</script>
{% endblock %}