{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- css -->
<link rel="stylesheet" type="text/css" href="{% static 'user.css' %}">

<!-- 상단 로고 노출 -->
<div id="top_menu">
  <span class="top_center">
    <img class="logo" src="/static/image/logo.png" alt="멸치 로고" />
  </span>
</div>

<!-- ****** 본문 ****** -->
<div class="an_container">
  <ul class="tab_title">
    <li class="on">친구 목록</li>
    <li>랭킹</li>
  </ul>

  <div class="tab_cont">
    <!-- 친구 목록 -->
    <div class="on" >
      <ul class="fd_list">
        <li class="add_btn">
          <a href="/anchovy_user/friend_add/">
            <img src="/static/image/add_btn.png" alt="추가하기" />
            <span class="an_sm_txt">추가하기</span>
          </a>
        </li>

        {% for friend in sort_fiend%}
          <li>
            <a href="/anchovy_user/friend_detail/{{friend.friend_name}}/">
              {% include 'ch_img/ch_img3.html'%}
              <span class="an_sm_txt">{{friend.friend_nickname}}</span>
            </a>
          </li>
        {% endfor%}
      </ul>
    </div>
    <!-- 친구 목록 끝 -->

    <!-- 랭킹 -->
    <div> 
      <ul class="rank_list_box">
        {%for dd in sort_data %}
          <li class="rk_list">
            <a href="/anchovy_user/friend_detail/{{dd.username}}/">
              <ul class="rk_info">
                <li>{{ dd.rank }}등</li>
                <li>{{ dd.nickname }}</li>
                <li>{{ dd.protein }}프로틴</li>
                <li>{% include 'ch_img/ch_img2.html'%}</li> 
              </ul>
            </a>
          </li> 
          {%if dd.username == user.username%} 
          <div class ="my_rk">
              <ul class="rk_info">
                <li>{{dd.rank}}등</li>
                <li>{{ user.nickname }}</li>
                <li>{{ user.protein }}프로틴</li> 
                <li>{%include 'ch_img/ch_img.html'%}</li> 
              </ul>
            </div>
            {% endif %}
          {% endfor %}
          <li></li> <!-- 삭제 x -->
        </ul>
    </div>
    <!-- 랭킹 끝 -->
  </div>
</div>

{% include 'navbar.html' %}
{% endblock %}


{% block script %}
<script type='text/javascript'>
  // 멸치 로고 노출
  $('#top_menu .logo').css('display', 'block');

  // 탭 메뉴 구현
  $(document).ready(function() {
    $(".tab_title li").click(function() {
      var idx = $(this).index();
      $(".tab_title li").removeClass("on");
      $(".tab_title li").eq(idx).addClass("on");
      $(".tab_cont > div").hide();
      $(".tab_cont > div").eq(idx).show();
    })
  });

</script>
{% endblock %}

